<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>V</key>
		<integer>-160</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>e</key>
		<integer>-40</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-160</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>a</key>
		<integer>-90</integer>
		<key>e</key>
		<integer>-130</integer>
		<key>o</key>
		<integer>-130</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>e</key>
		<integer>-120</integer>
		<key>o</key>
		<integer>-120</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>s</key>
		<integer>-110</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>W</key>
		<integer>-100</integer>
	</dict>
</dict>
</plist>
